ul {
    list-style: none;
    /*tira os marcadores*/
    padding: 0;
    margin: 0;
    background-color: black;
    text-align: right;
}

ul li {
    display: inline-block;
}

ul li a {
    font-family: "Lucida Sans", "Lucida Sans Regular", " Lucida Grande", " Lucida Sans Unicode", Geneva, Verdana, sansserif;
    color: antiquewhite;
    text-decoration: none;
    /*tira o sublinhado*/
    padding: 15px;
    display: inline-block;
    /*cria um bloco com o padding informado*/
    transition: background 1s;
}

ul li a:hover {
    background-color: gray;
    opacity: 0.5;
}
